<!DOCTYPE html>
<html lang="en">
<head>
  <% include components/head %>
</head>
<body>
  <header>
    <% include components/navbar %>
  </header>
  <main role="main" class="container container-custom">
    <div class="jumbotron">
      <h2 class="text-center"><%= judul %></h2>
    </div>
  </main>
  <% include components/footer %>
</body>
</html>